<div class="bg-white flex rounded-lg h-full flex-col transition-all duration-300">
    <div class="flex flex-col justify-between w-full h-full p-5 bg-white rounded-lg shadow-md">
      <img [src]="product.image" [alt]="product.title" class="w-full h-[150px] object-contain my-7 rounded-lg">
      <h2 class="text-xl font-medium text-gray-800 line-clamp-2 hover:text-[#c65500]">{{ product.title }}</h2>
      <p class="text-md font-[400] text-gray-800 my-1 flex"><span>₹</span><span class="text-3xl">{{ product.price}}</span></p>
      <p class="text-gray-600 line-clamp-3">{{ product.description }}</p>
      <button class="mt-4 px-4 py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-600">Add to Cart</button>
    </div>
  </div>